footer {
  @extend %pr;
  font-family: $font1;
  z-index:11;
  padding-bottom: 80px;

  .banner {
    @extend %pr;
    z-index:11;
    padding-bottom: 100px;
    border-bottom: 1px solid rgba(209, 219, 227,0.3);
    margin-bottom: 100px;

    img{
      bottom:0;
      max-width:175px;
      margin-bottom:50px;

      &.irtus{
        margin-top: -30px;
      }
    }

    @include breakpoint(max-md){
      .col-md-3{
        text-align:center;
      }
    }
  }
  .logo-area{
    @extend %pr;
    @extend %flex;
    z-index:11;
    nav {
      @include breakpoint(max-md){
        display: none;
      }
      margin-left: auto;
      ul{
        @extend %flex;

        li {
          margin:0 13px;
          a {
            font-family: $font2;
            text-transform: capitalize;
            color: $primary-color;
            font-size: 14px;
            line-height: 19px;
            letter-spacing: -0.5px;

            &:hover {
              color: #E93F1B;
            }

            &.active {
              color: #E93F1B;
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }

    .footer-logo{
      width:215px;
      @include breakpoint(max-lg){
        width: 145px;
      }
      img{
        max-width:100%;
        image-rendering: -moz-crisp-edges;
        image-rendering: -o-crisp-edges;
        image-rendering: -webkit-optimize-contrast;
        image-rendering: optimize-contrast;
        -ms-interpolation-mode: nearest-neighbor;
      }
    }
  }
  .footer-cont{
    @include breakpoint(max-lg){
      .footer-contact{
        padding-bottom: 50px;
      }
    }

    @include breakpoint(max-md){
      .responsive-left{
        // padding-top: 20px;
        h5{
          text-align: left!important;
        }
        div{
          justify-content: flex-start!important;
        }
      }
    }
    @extend %pr;
    text-align: left;
    margin-top: 80px;
    z-index:11;

    &__title {
      font-weight: bold;
      padding-bottom: 35px;

      font-size: 14px;
      line-height: 16px;

      letter-spacing: -0.318182px;
      text-transform: uppercase;

      color: $primary-color;
    }

    &__text {
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.5px;
      color: $primary-color;
      margin-bottom: 2px;
    }

    .email {
      font-weight: 300;
      font-size: 34px;
      line-height: 46px;
      /* identical to box height, or 135% */

      letter-spacing: -0.1px;

      color: #FF5C3A;
      @include breakpoint(max-sm){
        font-size: 26px;
      }
    }

    .tel {
      font-size: 23px;
      line-height: 26px;
      letter-spacing: -0.5px;
      color: #FF5C3A;
      @include breakpoint(max-sm){
        font-size: 20px;
      }
    }

    .button-group{
      @include breakpoint(max-xl){
        flex-wrap: unset;
        a{
          white-space: nowrap;
          @include breakpoint(max-sm){
            width: 100%;
          }
        }
      }
      .active{
        margin-left: 15px;
      }
    }
  }
  .copyright {
    @extend %pr;
    @extend %flex;
    z-index:11;
    margin-top: 100px;

    p{
      font-family: $font1;
      font-weight: 300;
      font-size: 14px;
      line-height: 19px;
      letter-spacing: -0.318182px;
      color: $primary-color;

      &:last-child {
        margin-left: auto;
        width: 172px;
      }

      a{
        text-decoration: underline;
      }
    }
  }
}
