// Variables
// Colors
$white-color: #ffffff;

$theme-red-color: #FF5C3A;
$primary-color: #9DAFBD;
$secondary-color: #FF5C3A;

$theme-color:$primary-color;

$title-color: $white-color;

$body-color: $primary-color;

$body-bg: #0A121F;

$dark-color: #0A121F;
$dark-bg: #0A121F;


@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

$font1: 'Roboto', sans-serif;
$font2: 'Poppins', sans-serif;
$font3: 'Inter', sans-serif;
$font4: "PT Serif", serif;
$body: $font1;

//  transition
$transition: all ease 0.3s;
