.element-bg{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  text-align: center;
  // z-index:-1;


  img{
    max-width: 100%;
  }

  &.learn-page-bg{
    text-align: right;

    img{

    }
    @include breakpoint(max-md){
      padding-top: 0;
      width: 150%;
      right: -45px;
      left: unset;
    }
  }

  &.community-page-bg{
    text-align: right;
    img{
      @include breakpoint(xxxl){
        object-fit: cover;
        width: 100%;
        max-height: 1500px;
      }
    }
    @include breakpoint(max-md){
      width: 250%;
      left: -125%;
    }
  }

  &.about-page-bg{
    text-align: right;
    img{
      @include breakpoint(xxxl){
        object-fit: cover;
      }
    }
  }

  &.top-hero-image{
    top: 130px;
    left: 50%;
    margin-left:-50%;
    opacity: 0.8;

    @include breakpoint(max-lg){
      top : 150px;
    }
    @include breakpoint(xxl){
      top : -70px;
    }
    @include breakpoint(max-md){
      top: 350px;
      img {
        transform: scale(1.5);
      }
    }
    @include breakpoint(max-sm){
      top : 400px;
    }
    @include breakpoint(450px){
      top : 450px;
    }
  }

  &.top-master-bg{
    top: -250px;
    opacity: 0.8;
  }

  &.radial{
    left: 50%;
    top:-10%;
    transform: translate(-50%, 0);

    width: 1187px;
    height: 1187px;

    background: radial-gradient(50% 50% at 50% 50%, #005796 0%, rgba(0, 148, 255, 0) 100%);
    opacity: 0.15;
    // filter: blur(200px);
  }

  &.feature-sky {
    left: 50%;
    top: 45%;
    margin-top:-50%;
    margin-left:-50%;
    max-height: 1215px;
    z-index: 10;

    img{
      max-width:inherit;
      width: 100%;
      max-height: 1215px;
    }
  }

  &.explore-sky {
    top: -15%;
    left: 50%;
    margin-top: -5%;
    margin-left:-50%;
    @include breakpoint(max-sm){
      top: 120px;
      left: 0;
      margin: 0;
      transform: scale(1.5);
    }

    img{
      width: 100%;
      max-height: 2225px;
      -o-object-fit: cover;
      object-fit: cover;
    }
  }

  &.explore-sky-radial{
    transform: translate(-50%, 0);
    top: -12%;
    left: 38%;
    width: 950px;
    @include breakpoint(max-md){
      display: none;
    }
  }

  &.footer-sky {
    top: 0px;
    transform: translate(-50%, -40%);
    left: 50%;

    img{
      width: 100%;
      max-height: 978px;
      object-fit: cover;
    }
  }

  &.framework-slider-bg{
    background: linear-gradient(180deg, rgba(10, 18, 31, 0) 0%, rgba(10, 18, 31, 0.46) 27.6%, rgba(10, 18, 31, 0.72) 49.48%, rgba(10, 18, 31, 0.850345) 64.58%, rgba(10, 18, 31, 0.96) 82.81%, #0A121F 100%);

    width: calc(100% + 500px);
    top: inherit;
    bottom: -1px;
    height: 427px;
    z-index: 10;
    left: 0px;
    @include breakpoint(max-md){
      top: 470px;
    }
    @include breakpoint(max-sm){
      top: 370px;
    }

    img{
      width: 100%;
    }
  }

  &.eco-sky-bg-1{
    text-align: left;
    top: 25%;

    img{
      &:first-child{
        max-height: 1066px;
        width: 60vw;
        display: block;
        object-fit: cover;
      }

      &:last-child {
        max-height: 1480px;
        margin-top: 260px;
        width: 80vw;
      }
    }
  }
  &.urban-video-bg{
    top: 5%;
    @include breakpoint(max-sm){
      top: 3.75%;
      
    }
    @media (max-width: 415px) {
      width: 130%;
    }
  }

  &.testimonial-bg{
    top:18%;
      img{
        width: 100%;
        max-height: 2000px;
        object-fit: cover;
      }
  }
  &.explore-sky-parallax{
    top:115px;
    @include breakpoint(max-lg){
      top: 125px;
    }
    @include breakpoint(max-sm){
      display: none;
    }
  }

  &.about-slider-bg{
    text-align: left;
    transform: translate(-7%, -15%);
  }

  &.download-page-bg{
    text-align: left;
    img{
      max-height: 1500px;
    }
    @include breakpoint(max-md){
      left: -200px;
      width: max-content;
    }
  }

  &.certification-page-bg{
    top:0;
    right:0;
    img{
      width: 100%;

      @include breakpoint(xxxl){
        object-position: 0 -20vh;
        max-height: 1500px;
        object-fit: cover;
      }
    }
    @include breakpoint(max-md){
      left: -500px;
      width: max-content;
    }
  }

  &.jobs-page-bg{
    max-height:850px;
    img{
      width: 100%;
    }
    @include breakpoint(max-md){
      width: 200%;
      // left: -40%;
    }
  }

  &.about-page-bg{
    text-align: right;
    max-height: 970px;
    img{
      width: 100%;
    }
  }

  &.home-page-bg{

    img{
      width:100%;
      max-height: 1820px;
      object-fit: cover;
    }
  }

  &.about-section-bg{
    top:6%;
    img{
      width: 100%;
    }
    @include breakpoint(max-md){
      top: 12%;
    }
  }

  &.about-section-middle-bg {
    top: 50%;
    margin-top: calc(-50% / 2);
    height: auto;
    img {
      width: 100%;
    }
  }

  &.ecosystem-page-bg{
      img{
        object-fit:contain;

        @include breakpoint(xxxl){
          object-fit: cover;
        }
      }
  }
}

.parallax-element{
  position:absolute;
  z-index:-1;

  &.bottom{
    bottom:0;
  }

  &.top{
    top: 0;
  }

  &.right{
    right: 0;
  }

  &.left{
    left: 0;
  }

  &.center{
    left: 50%;
    transform: translateY(-50%);
  }

  &.net1{
    opacity:0.6;
  }
  &.net2a{
    bottom: inherit;
    top: 35%;
    opacity:0.6;
  }
  &.net2b{
  }
  &.net3{
    opacity:0.4;
  }
  &.net4{

  }

  &.tool-circle{
    width: 757px;
    height: 634px;
    right: 0;
    z-index: -1;
    @include breakpoint(max-sm){
      width: 500px;
      right: -50px;
      height: auto;
    }
    img{
      width:100%;
    }
  }

  &.center-globe{
    position: absolute;
    top: 50px; 
    width: 100%;
    height: 100%;
    z-index: -1;

    @include breakpoint(xxl){
      top: -250px;
      left: 0;
    }
    @include breakpoint(max-md){
      top: 560px;
      left: 0;
    }
    @include breakpoint(max-lg){
      img {
        transform: scale(1.5);
      }
    }
    img{
      width:100vw;

      @include breakpoint(max-md){
        width: 135vw;
        margin-left: -20vw;
      }

      @include breakpoint(max-sm){
        width: 200vw;
        margin-left: -55vw;
      }
    }
  }

  &.feature-logo{
    right: -230px;
    top: -150px;

    @include breakpoint(max-lg){
      right: -85px;
    }
  }

  &.thanks-logo{
    right: -100px;
    top: -25px;
    @include breakpoint(max-lg){
      right: 0;
      top: -125px;
    }
    @include breakpoint(max-md){
      right: -120px;
    }
  }

  &.about-header-parallax{
    left: 50%;
    margin-left: calc(-75% / 2);
    z-index:-1;

    img{
      width:468px;
    }
  }

  &.polygon{
    left: 50%;
    top: -30px;
    z-index: 1;
    margin-left: calc(-842px / 2);
  }

  &.about-p-1{
    margin-left: calc(-40% / 2);
    margin-top: calc(-50% / 2);
  }
  &.about-p-2{
    margin-right: calc(-75% / 2);
    margin-top: calc(10% / 2);
  }

  &.echo-p2{
    top: 250px;
  }

  &.testimonial-ring{
    transform: translate(5%, -25%);

    width: 448px;
    height: 454px;

    img{
      width: 100%;
    }
  }

  &.learnwaves{
    bottom: -200px;
    img{
      width: 100%;
    }
    @include breakpoint(max-md){
      bottom: 125px;
    }
    @include breakpoint(max-sm){
      bottom: 150px;
    }
  }

  &.learn-circle{
    top: 250px;
    @include breakpoint(max-md){
      left: 50px;
      top: 140px;
      img{
        width: 50%;
      }
    }
    @include breakpoint(max-sm){
      left: 0;
    }
  }

  &.learn-circle2{
    top: 410px;
    left: 130px;
    @include breakpoint(max-md){
      left: 120px;
      top: 210px;
      img{
        width: 50%;
      }
    }
    @include breakpoint(max-sm){
      left: 15px;
    }
  }

  &.learnscala-logo{
    text-align: center;
    bottom: 100px;
    @include breakpoint(max-md){
      transform: scale(0.7);
    }
  }

  &.job-footer-bg{
    bottom: 0;
    @include breakpoint(max-md){
      bottom: 550px;
      right: -150px;
    }
  }

  &.community-first-pimg{
    top: 50%;
    left: 0;
    margin-left: -21%;
    margin-top: -25%;
    z-index: 2;
  }

  &.community-two-pimg{
    top: 41%;
    left: 0;
    z-index: 2;
  }

  &.community-three-pimg{
    top: -215px;
    right: -40px;
  }

  &.community-four-pimg{
    top: 51%;
    left: 0;
    z-index: 2;
  }

  &.community-five-pimg{
    bottom: 0;
    /* transform: translate(-89%, 0); */
    left: 30px;

    img{
      margin-bottom: -80px;
    }
  }

  &.community-circle{
    left: 0;
    top: 0;
    transform: translate(-35%, -7%);
    width: 100vw;
    height: 100vw;

    max-width: 1500px;
    max-height: 1500px;

    svg{
      width: 100%;
      height: 100%;
    }
  }

  &.center-diamond{
    left: 50%;
    top: 85px;
    width: 84vw;
    height: 84vw;
    margin-left: -50%;
    margin-top: -20%;
    max-width: 1396px;
    max-height: 1396px;

    svg{
      width: 100%;
      height: 100%;
    }
  }
}
