body {
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  &.about-page {
    background: $body-bg;
    position:relative;

    .footer{
      z-index:12;
    }
    .footer-sky {
      top: inherit;
      bottom: 0;
      left: 50%;
      margin-left: -50%;
      transform: inherit;
      max-height: 910px;

      img{
        width: 100%;
        max-height: 978px;
        object-fit: cover;
      }
    }
  }
}

.about-section {
  @extend %pr;
  z-index:12;

  .container{
    @include breakpoint(max-lg){
      max-width: 95%;
    }
  }

  .mainscreen{
    padding-top:250px;
    height:880px;
    box-sizing: border-box;
    .mainscreen-cont {
      width: 850px;


      h1 {
        font-family: $font2;
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        color: #FFFFFF;
        @include breakpoint(max-lg){
          font-size: 74px;
        }
        @include breakpoint(max-sm){
          font-size: 64px;
          line-height: 1.2em;
        }
      }

      p {
        font-family: $font1;
        font-style: normal;
        font-weight: 300;
        font-size: 19px;
        color: #fff;
        text-shadow: 0px 7px 40px rgba(0, 0, 0, 0.3);
        @include breakpoint(max-lg){
          width: 75%;
          margin: 0 auto 40px;
        }
        @include breakpoint(max-sm){
          width: 100%;
        }
      }
      @include breakpoint(max-md){
        width: calc(100% - 30px);
        margin: 0 auto;
      }
    }
    button{
      margin-top: 20px;
      display: none;
      @include breakpoint(max-md){
        display: inline-block;
      }
    }
  }

  .row-top--880{
    // @extend %pr;
    margin-top: -440px;
    @include breakpoint(max-md){
      .responsive-img{
        position: relative;
        height: 350px;
      }
      img{
        width: 50%!important;
        position: absolute;
        top: 0;
        right: -80px;
      }
    }
    @include breakpoint(max-sm){
      img{
        width: 75%!important;
      }
    }
  }


  .about-heading {
    width: 80%;
    margin-bottom: 85px;
    @include breakpoint(max-lg){
      width: 100%;
      margin-bottom: 0;
      h3{
        font-size: 42px!important;
      }
    }
    @include breakpoint(max-md){
      width: 80%;
    }

    h3 {
      font-family: $font1;
      font-size: 54px;
      line-height: 1.2em;
      color: #9F72FF;
    }

    p {
      font-family: $font1;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.5px;
      color: #9DAFBD;
    }
  }

  .about-us {
    padding-top: 120px;
    @include breakpoint(md){
      padding-top: 190px;
    }
    position:relative;
    z-index: 12;

    .community-card-slider{
      .swiper-wrapper{
        margin-top: 60px;
      }
    }

    .intro {
      position:relative;
      height:200px;
      @include breakpoint(max-lg){
        height: 220px;
      }
      .content-area{
        position: absolute;
        top: 0;
        @include transition($transition);
      }

      h5 {
        font-family: $font1;
        font-style: normal;
        font-weight: 300;
        font-size: 34px;
        color: #FF5B33;
        margin-bottom: 24px;
      }

      p {
        font-family: $font1;
        font-size: 18px;
        color: #9DAFBD;
      }

      a {

        @include transition($transition);

        position: absolute;
        bottom: 45px;
        opacity: 0;
        visibility: hidden;
      }

      hr {
        background: linear-gradient(to right, #FF5B33, #FF5B33);
        background-color: #26313A;
        border: 0;
        height: 1px;
        background-size: 0 100%;
        transition: background-size 1s 0s;
        background-repeat: no-repeat;
        position:absolute;
        bottom:0;
        width: calc(100% - 30px);
        text-transform: translate(-50%,0);
      }

      &:hover {
        .content-area{
          top: -45px;
        }

        a {
          opacity: 1;
          visibility: visible;
        }
      }

      &:hover hr {
        background-size: 75% 100%;
      }
    }
  }

  .case-study {
    position: relative;
    padding-top: 0;
    padding-bottom: 40px;
    @include breakpoint(md){
      padding-bottom: 100px;
      padding-top: 150px;
    }
    z-index: 1;
    
    img {
      opacity: 0.8;
      border-radius: 8px;
      position: relative;
      z-index: -1;
      @include breakpoint(max-lg){
        width: 75%;
      }
      @include breakpoint(max-md){
        width: 100%;
      }
    }

    .text {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: calc(-25% / 2);
      width: 30%;
      @include breakpoint(max-lg){
        width: 45%;
      }
      @include breakpoint(max-md){
        position: unset;
        width: 75%;
      }

      .small-text {
        font-family: $font1;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: -0.318182px;
        color: #9DAFBD;
      }

      h1 {
        font-family: $font1;
        font-size: 54px;
        line-height: 1.2em;
        letter-spacing: -1px;
        color: #9F72FF;
        @include breakpoint(max-lg){
          font-size: 42px;
          width: 75%;
        }
        @include breakpoint(max-md){
          width: 50%;
          font-size: 32px;
          line-height: 37px;
        }
        @include breakpoint(max-sm){
          width: 100%;
        }
      }

      .text-right{
        @include breakpoint(max-lg){
          text-align: center !important;
        }
      }

      a {
        background-color: #9F72FF;
        border-color: #9F72FF;
        box-shadow: none;
        margin-left: 80px;
        @include breakpoint(max-md){
          position: relative;
          bottom: -30px;
        }
      }
    }
  }

  .desc {
    margin-top: 60px;

    h3 {
      width: 40%;
      font-family: $font1;
      font-style: normal;
      font-weight: 300;
      font-size: 34px;
      line-height: 46px;
      letter-spacing: -0.1px;
      color: #9F72FF;
      margin-bottom: 35px;
      @include breakpoint(max-lg){
        width: 75%;
      }
    }

    p {
      font-family: $font1;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.5px;
      color: #9DAFBD;
    }
    .responsive-desc{
      @include breakpoint(max-md){
        margin-top: 20px;
      }
    }
  }

  .divider {
    margin-top: 155px;
  }

  .features {
    

    .features-slider,.swiper-controls-group{
      display: none;
      @include breakpoint(max-md){
        display: block;
        padding-top: 5px 
      }
      @include breakpoint (max-sm){
        .swiper-slide{
          .d-flex{
            display: block!important;
            .feature-cont{
              text-align: center
            }
          }
        }
      }
    }
    .features-row{
      @include breakpoint(max-md){
        display: none
      }
    }
    @extend %pr;
    z-index: 1;
    .heading {
      width: 50%;
      margin: auto;
      margin-bottom: 65px;
      @include breakpoint(max-sm){
        width: 100%;
      }
      @include breakpoint(md){
        margin-top: 100px;
      }

      h1 {
        font-family: $font1;
        font-size: 54px;
        color: #9F72FF;
        margin-bottom: 12px;
      }

      p {
        font-family: $font1;
        font-size: 18px;
        color: #9DAFBD;
      }
    }

    .feature-cont {
      padding-left: 70px;
      margin-right: 50px;
      @include breakpoint(max-sm){
        padding-left: 0;
        padding-right: 0;
        margin: auto;
        width: 50%;
      }

      img {
        position:absolute;
        left:0;
        top: 0;
        @include breakpoint(max-sm){
          position: unset;
          margin-bottom: 20px!important;
        }
      }

      .feature-title {
        font-family: $font1;
        font-size: 21px;
        color: #9F72FF;
      }

      .feature-desc {
        font-family: $font1;
        font-size: 14px;
        color: #9DAFBD;
      }
    }
  }

  .design-studio {
    @extend %pr;

    margin: 110px 0 0 0;

    .design-slider {
      @include breakpoint(max-md){
        .responsive-row{
          padding-bottom: 150px;
        }
        .slider-head{
          display: flex;
        }
      }
      .small-text {
        font-family: $font1;
        font-weight: bold;
        font-size: 14px;
        color: #9DAFBD;
        margin-bottom: 45px;
      }

      .slider-heading {
        font-family: $font1;
        font-size: 54px;
        color: #9F72FF;
        width: 75%;
        margin-bottom: 25px;
        @include breakpoint(max-lg){
          font-size: 42px;
          width: 100%;
        }
        @include breakpoint(max-md){
          width: 75%;
        }
      }

      a {
        border-color: #9f72ff;
        box-shadow: none;
        color: #9F72FF;
      }

      .slider-right-side {
        margin-top: 180px;
        width: 50%;
        @include breakpoint(max-lg){
          width: 75%;
        }
        @include breakpoint(max-md){
          width: 55%;
          text-align: left!important;
          margin-left: 0!important;
          position: absolute;
          bottom: -190px;
          // margin-top: unset;
          // padding-bottom: 180px;
        }

        .num {
          font-family: $font1;
          font-weight: 300;
          font-size: 14px;
          color: #9DAFBD;
          span {
            font-family: $font1;
            font-size: 18px;
            color: #9F72FF;
          }
        }

        .slider-desc {
          font-family: $font1;
          font-size: 16px;
          line-height: 24px;
          color: #9DAFBD;
        }
      }
      .slider-img{
        @include breakpoint(max-lg){
          width: 100%;
        }
      }
    }

    .slider-btn {
      &.active {
        background: #9f72ff;
        border-color: #9f72ff;
      }
    }

    .swiper-pagination {
      text-align: center;
      @include breakpoint(md) {
        text-align: left;
      }
    }

    .swiper-pagination-bullet-active {
      background: #9f72ff;
      border-color: #9f72ff;
    }
  }
}


// .about {
//   font-family: $font1;
//   padding-top: 50px;
//   text-align: left;

// }
// .about-cont {
//   padding-top: 350px;
// }

// .about-cont__title {
//   font-size: 48px;
//   font-weight: 300;
//   color: #9F72FF;
//   line-height: 1.5em;

// }

// .about-cont__text {
//   font-size: 16px;
//   padding-bottom: 25px;
//   font-weight: 200;
// }
// .about-cont__text2 {
//   padding-top: 80px;
//   font-size: 16px;
//   padding-bottom: 25px;
//   font-weight: 200;
// }

// .illustration {
//   height: 735px;
//   weight: 676px;
// }

// .introducing {
//   padding-bottom: 80px;
// }
// .btn-case {
//   border-radius: 40px;
//   background-color: #9F72FF;
//   border:1px solid #9F72FF;
//   cursor:pointer;
//   color: #FFFFFF;
//   font-family: $font1;
//   font-size:12px;
//   font-weight: 300;
//   Width: 120px;
//   Height: 36px;
//   text-decoration: none;
//   margin-bottom: 40px;
// }
// .case-cont__title {
//   font-size: 44px;
//   font-weight: 200;
//   color: #9F72FF;
// }

// .case-cont__text {
//   font-size: 11px;
//   font-weight: 200;
// }

// .case-cont {
//   position: relative;
//   left: 250px;
//   top: 100px;
//   z-index: 999;
// }


// .case-description-cont__title {
//   font-size: 34px;
//   font-weight: 200;
//   color: #9F72FF;
//   line-height: 1.2em;
// }
// .case-description-cont__text {
//   font-weight: 200;

// }

// .case-description-cont__text2 {
//   padding-top: 90px;
//   font-weight: 200;

// }

// .introducing-cont__title {
//   font-size: 28px;
//   font-weight: 200;
//   color: #FF5B33;
// }

// .introducing-cont__text {
//   font-size: 18px;
//   font-weight: 200;
//   color: #9DAFBD;
// }

// .slider-about-cont__title {
//   font-size: 44px;
//   font-weight: 200;
//   color: #9F72FF;
// }

// .slider-about_text {
//   font-size:  11px;
//   color: #9DAFBD;
// }

// .btn-slider-about {
//   border-radius: 40px;
//   background-color: transparent;
//   border:1px solid #9F72FF;
//   cursor:pointer;
//   color: #9F72FF;
//   font-family: $font1;
//   font-size:12px;
//   font-weight: 300;
//   Width: 120px;
//   Height: 36px;
//   text-decoration: none;
//   margin-bottom: 40px;
// }


// .features-about {
//   padding-bottom: 80px;

// }

// .features-about-cont__title {
//   font-size: 34px;
//   font-weight: 200;
//   color: #9F72FF;

// }

// .features-about_cont__text {
//   font-size: 16px;
//   font-weight: 200;
//   color: #9DAFBD;

// }

// .features-cards-cont_title {
//   font-size: 18px;
//   font-weight: 200;
//   color: #9F72FF;
// }


// .features-cards-cont_text {
//   font-size: 16px;
//   font-weight: 200;
//   color: #9DAFBD;
// }
// .slider-about {
//   padding-bottom: 200px;
// }
