body {
  &.certification-page{
    /*background: $body-bg url('/src/images/certifcation-bg.jpg') no-repeat top left;
    background-size: 100vw auto;

    @include breakpoint(xxxl){
      background-position-y: -20vh;
    }*/

    footer {
      .banner{
        padding: 150px 0 0 0;
      }
    }
  }
}

.certification-section {
  @include breakpoint(max-lg){
    .container{
      max-width: 100%!important;
      .certifiacation_cont__title{
        position: unset;
        width: 50%;
      }    
    }
  }
  @include breakpoint(max-sm){
    .certifiacation_cont__title{
      width: 75%!important;
    }  
  }
  // @include breakpoint(max-sm){
  //   .certifiacation_cont__title{
  //     width: 75%!important;
  //   }  
  // }
  @extend %pr;
  padding-top: 190px;

  .certifiacation_cont__title {
    position: absolute;
    width: 30%;
    font-family: $font2;
    font-weight: 300;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 7px 40px rgba(0, 0, 0, 0.3);
  }

  .certifiacation_cont__text{
    font-family: $font1;
    font-weight: 300;
    font-size: 17px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 7px 40px rgba(0, 0, 0, 0.3);

    display: block;
    margin: 0 auto 40px auto;
    width: 160px;;
  }

  .label-certifiacation {
    margin-bottom: 24px;
  }

  .company {
    margin-bottom: 90px;
  }

  .button-3{
    width: 157px;
    height: 48px;
  }

  p {
    margin: 40px;
  }
}
