body {
  
  &.download-page{
    background: $body-bg;
  }
}


.download-mainscreen {
  padding-top: 265px;
  padding-bottom: 150px;
  font-family: $font2;
  color: #FFFFFF;
  @include breakpoint(max-lg){
    padding-bottom: 0;
    .container{
      max-width: 100%;
    }
  }
  
  .mainscreen-cont{
    width: 850px;
    p {
      padding-bottom: 75px;
    }
  }

  h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    @include breakpoint(max-lg){
      font-size: 74px;
    }
    @include breakpoint(max-sm){
      font-size: 64px;
      line-height: 70px;
    }
  }

  p {
    font-size: 19px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
    font-family: Roboto;
    font-style: normal;
    color: #FFFFFF;
    text-shadow: 0px 7px 40px rgba(0, 0, 0, 0.3);
    @include breakpoint(max-lg){
      width: 85%;
      margin: 0 auto 40px;
    }
    @include breakpoint(max-sm){
      margin-top: 32px;
      width: 100%;
    }
  }

  .download-options{
    @include breakpoint(max-md){
      display: block!important;
      // text-align: center;
      // margin: auto;
    }
    img{
      height: 81px;
      @include breakpoint(max-md){
        margin-top: 64px;
      }
    }
    h2{
      font-family: Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 50px;
      text-shadow: 0px 7px 40px rgba(0, 0, 0, 0.3);
      margin-top: 10px;
    }
    hr{
      color: #555555;
      margin: 0;
      margin-bottom: 6px;
      width: 270px;
      @include breakpoint(max-lg){
        margin: 6px auto;
      }
    }
    p{
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #C4C4C4;
      text-shadow: 0px 7px 40px rgba(0, 0, 0, 0.3);
    }
    button{
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 19px;
      /* or 136% */

      text-align: center;

      color: #FF5C3A;
      &:hover{
        background-color: #ff5c3a;
        color: #fff;
      }
      &:active{
        background-color: #ff5c3a;
        color: #fff;
      }
    }
  }
}



// .download-mainscreen-cont__title {
//   font-size: 45px;
//   font-weight: 900;
// }


// hr {
//   border: none;
//   text-align: center;
//   background-color: #C4C4C4;
//   height: 1px;
//   width: 135px
// }

// .download-mainscreen_cont__text {
  

// .systems-cont__title {
//   font-family: $font1;
//   color: #C4C4C4;
//   font-size: 34px;
//   font-weight: 100;
// }
// .systems-cont__text {
//   font-family: $font1;
//   color: #C4C4C4;
//   text-align: center;
//   font-size: 15px;
//   font-weight: 100;

// }

// .btn-dwnl {
//   background-color: transparent;
//   border-radius: 40px;
//   border:1px solid #E93F1B;
//   cursor:pointer;
//   color: #E93F1B;
//   font-family: $font1;
//   font-size:12px;
//   font-weight: 300;
//   Width: 120px;
//   Height: 36px;

//   text-decoration: none;
// }

// footer {
//   //background:#000000  url('') cover;
//   background-repeat: no-repeat;
//   --moz-background-size:100%;
//   -webkit-background-size:100%;
//   -o-background-size:100%;
//   background-size:100%;
// }

// .company img {
//   width: 100%;
//   height: 50px;
// }
