body {

  font-family: $font1;

  &.ecosystem-page{
    background-image: none;

    /*&:before{
      background : $body-bg url('/src/images/Ecosystem-Sky-Header.jpg') no-repeat top center;
      content: "";
      width: 100%;
      height: 100%;
      background-size: contain;
      position: absolute;
      z-index: -1;

      @include breakpoint(xxxl){
        background-size: cover;
      }
    }*/

    footer{
      .banner{
        padding-top: 0;
      }
    }
  }
}

.ecosystem-top-bg{
  @include breakpoint(max-sm){
    right: -100px!important;
    top: -100px!important;
  }
}

.ecosystem-mainscreen-bg{
  @include breakpoint(max-sm){
    left: -500px!important;
  }
}

.ecosystem-section {


  .container {
    z-index: 10;
    @include breakpoint(max-lg){
      max-width: 95%;
    }
  }

  .mainscreen-cont {
    width: 850px;

    &.top-screen-title{
      padding-bottom: 250px;
      padding-top: 265px;
    }

    h1 {
      font-family: $font2 !important;
      font-weight: 900 !important;
      font-size: 64px !important;
      color: #FFFFFF !important;
      margin-bottom: 30px !important;
      @include breakpoint(max-lg){
        font-size: 74px !important;
      }
      @include breakpoint(max-sm){
        font-size: 48px !important;
        line-height: 100% !important;
      }
    }

    p {
      font-family: $font1 !important;
      font-weight: 300 !important;
      font-size: 19px !important;
      color: #FFFFFF !important;
      text-shadow: 0px 7px 40px rgba(0, 0, 0, 0.3) !important;
      @include breakpoint(max-sm){
        font-size: 18px !important;
        line-height: 21px !important;
      }
    }
  }

  .framework-tools {
    @extend %pr;

    .framework {
      @extend %pr;
      z-index: 1;

      .swiper-container {
        overflow: visible;
        padding-bottom: 120px;
        margin-bottom: -120px;
      }


      .swiper-pagination {
        @include breakpoint(max-sm){
          bottom: 190px;
        }
        @include breakpoint(md){
          display: none;
        }
      }
      .swiper-slide {
        opacity: 0;
        transition: opacity 300ms ease;
        &.swiper-slide-active {
          opacity: 1;
        }
      }

      .top-right-heading{
        margin-left: auto;
        margin-bottom: 55px;
        @include breakpoint(max-sm){
          width: 50%;
          margin-right: 30px;
        }
      }

      .ziverge {
        margin-top: 115px;
        @include breakpoint(max-md){
          margin-top: 0;
        }

        img {
          margin-bottom: 37px;
        }

        p {
          width: 75%;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          color: #9DAFBD;
          @include breakpoint(max-sm){
            width: 95%;
          }
        }
      }

      .big-fast-data {
        margin-top: 37px;

        h5 {
          font-family: Roboto;
          font-style: normal;
          font-weight: 300;
          font-size: 34px;
          color: #FFFFFF;
          margin-bottom: 20px;
        }

        .d-flex{
          justify-content: space-between;
        }

        p {
          width: 40%;
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          color: #9DAFBD;

          &:first-child {
            margin-right: 18px;
          }
          @include breakpoint(max-sm){
            width: 50%;
          }
        }
      }

      .browser-img {
        display: block;
        width: 140%;
        @include breakpoint(max-md){
          position: absolute;
          z-index: -1;
          left: 20%;
        }
        @include breakpoint(max-md){
          position: unset;
          left: 0;
          width: 100%;
        }
      }
      .framework-mardown {
        h1 {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 54px;
          color: #FFFFFF;
          @include breakpoint(max-sm){
            font-size: 32px;
          }
        }
  
        p {
          font-family: Roboto;
          font-style: normal;
          font-weight: normal;
          font-size: 18px;
          color: #9DAFBD;
          @include breakpoint(max-sm){
            font-size: 15px
          }
        }
      }
      

      .points {
        @extend %pr;
        z-index: 11;
        top: 50px;
        @include breakpoint(max-lg){
          top: 50px;
          padding-bottom: 100px;
        }
        @include breakpoint(max-md){
          top: -100px;
          padding-bottom: 0;
          .row{
            display: block!important;
            .col-sm-4{
              max-width: 100%;
              padding: 15px;
            }
          }
        }

        .text-area {
          border-bottom: 1px solid #26313A;

          h4 {
            margin: 0;
            font-family: Roboto;
            font-style: normal;
            font-weight: 300;
            font-size: 34px;
            color: #FFFFFF;
            margin-bottom: 20px;
            @include breakpoint(max-md){
              line-height: 1.2;
            }
          }

          p {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: #9DAFBD;
            padding-bottom: 25px;
          }
          @include breakpoint(max-sm){
            width: 90%;
          }
        }
      }

      .call-to-action-btn {
        margin-right: 25%;
        width: fit-content;
        margin-left: auto;
        margin-top: -100px;
        @include breakpoint(md) {
          margin-top: 50px;
        }
        @include breakpoint(lg) {
          margin-top: 85px;
        }
        @include breakpoint (max-md){
          display: flex;
          justify-content: center;
          width: 100%;
        }
      }
      @include breakpoint(max-sm){
        margin: 0!important;
      }
      .swiper-controls-group{
        margin-top: 80px;
      }
    }

    .tool {
      padding-top: 0px;
      margin-top:80px;

      .swiper-pagination {
        text-align: left;
      }

      /*&:before{
        content: '';
        background: url(/src/images/tools-bg.png) center no-repeat;
        background-size: 100%;
        position: absolute;
        width: 757px;
        height: 634px;
        right: 0;
        z-index: -1;
        top: 115px;
      }*/

      .tools-upper-half {
        .tools-heading {
          h2 {
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 54px;
            color: #FFFFFF;
          }

          p {
            width: 40%;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            color: #9DAFBD;
            @include breakpoint(max-md){
              width: 75%;
              margin-top: 30px;
            }
            @include breakpoint(max-sm){
              width: 100%;
            }
          }
        }

        .row{
          // margin-top: 150px;
          @include breakpoint(max-md){
            margin-top: 350px;
          }
        }

        .text-area {
          margin-top: 150px;
          width: 75%;
          margin-right: 0;
          margin-left: auto;
          @include breakpoint(max-lg){
            width: 100%;
            margin-left: 0;
            margin-top: 50px;
          }
          @include breakpoint(max-md){
            width: 85%;
            margin: 0 auto 0;
          }

          h1 {
            font-family: Roboto;
            display: block;
            font-style: normal;
            font-weight: normal;
            font-size: 54px;
            color: #FF5C3A;
            line-height: 76px;
            width: fit-content;
            @include breakpoint(max-lg){
              font-size: 48px;
            }
            @include breakpoint(max-sm){
              font-size: 40px;
              line-height: 46px;
            }

            span {
              display: block;
              font-family: Roboto;
              font-style: normal;
              font-weight: bold;
              font-size: 54px;
              color: #FF5C3A;
              @include breakpoint(max-sm){
                font-size: 40px;
              }
            }
          }

          p {
            margin-top: 8px;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #9DAFBD;
            width: 60%;
            @include breakpoint(max-sm){
              width: 100%;
            }
          }
        }

        .learn-btn {
          height: 120px;
          width: 120px;
          text-align: center;
          position: absolute;
          bottom: 0;
          left: 60%;
          transform: translate(-60%, 0);
          @include breakpoint(max-md){
            left: unset;
            right: 0;
          }
          @include breakpoint(max-sm){
            width: 82px;
            height: 82px;
            margin-bottom: 100px;
          }

          p {
            background: #EA271A;
            box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.2);
            border-radius: 120px;
            padding: 42px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: #FFFFFF;
            @include breakpoint(max-sm){
              padding: 24px;
              // width: 82px;
              // height: 82px;
            }
          }
        }
      }

      .tools-bottom-half {
        margin-top: 75px;
        @include breakpoint(max-md){
          margin-top: 30px;
        }

        .swiper-slide{
          cursor: pointer;
          // @include breakpoint(max-md){
          //   display: none;
          // }
        }

        .swiper-controls-group{
          @include breakpoint(max-md){
            margin-top: 0;
          }
        }

        .tool-name {
          margin: 0;
          font-family: $font1;
          font-size: 21px;
          line-height: 35px;
          color: #FFFFFF;
          margin-bottom: 35px;
        }

        .about-tool {
          background: #EA271A;
          box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.2);
          border-radius: 5px;
          padding: 30px 50px 30px 30px;
          cursor:pointer;
          @include breakpoint(max-lg){
            padding: 20px 10px
          }
          @include transition($transition);

          &:hover{
            background: #FF5C3A;
          }

          .num {
            height: 30px;
            width: 30px;
            background: #FFFFFF;
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
            border-radius: 30px;
            margin: auto 30px auto 0;

            p {
              padding: 7px;
              text-align: center;
              font-family: $font1;
              font-weight: bold;
              font-size: 14px;
              line-height: 16px;
              color: #026FC2;
            }
          }

          .text {
            font-family: $font1;
            font-size: 14px;
            line-height: 19px;
            color: #FFFFFF;
          }
        }

        a {
          font-family: $font1;
          font-size: 14px;
          line-height: 19px;
          color: #9DAFBD;
          margin-top: 18px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }




  }

  .about-scala {
    @extend %pr;
    z-index: 11;
    margin-top: 120px;
    @include breakpoint(md){
      margin-top: 250px;
    }
    
    .project-cont{
      @include breakpoint(max-md){
        display: none;
      }
    }
    
    .projects-slider{
      display: none;
      @include breakpoint(max-md){
        display: block;
      }
    }
    .left-div {
      @include breakpoint(max-md){
        margin-bottom: 20px;
      }
      .about-scala-head {
        font-family: $font1;
        font-weight: normal;
        font-size: 54px;
        line-height: 76px;
        color: #FFFFFF;
        // font-size: 32px;
        line-height: 1.2em;
        @include breakpoint(max-sm){
          font-size: 32px;
          line-height: 37px;
        }
      }

      .about-scala-text {
        font-family: $font1;
        font-size: 18px;
        line-height: 26px;
        color: #9DAFBD;
        width: 75%;
        margin-top: 10px;
        @include breakpoint(max-sm){
          width: 100%;
          font-size: 15px;
          line-height: 18px;
        }
      }
    }

    .right-div {
      .history{
        @include breakpoint(max-md){
          width: 75%;
        }
        @include breakpoint(max-sm){
          width: 100%;
        }
      }
      h1 {
        font-family: $font1;
        font-weight: 300;
        font-size: 34px;
        line-height: 46px;
        color: #FF5C3A;
        margin-bottom: 20px;
        @include breakpoint(max-sm){
          font-size: 26px;
          line-height: 30px;
        }
      }

      p {
        font-family: $font1;
        font-size: 18px;
        line-height: 26px;
        color: #9DAFBD;
        margin-bottom: 40px;
        @include breakpoint(max-sm){
          font-size: 15px;
          line-height: 18px;
        }
      }

      .call-to-action-btn {
        @include breakpoint (max-md){
          display: flex;
          justify-content: space-evenly;
        }
        
        a {
          @include breakpoint(max-sm){
            width: 140px;
            margin: 0!important;
            margin-top: 0!important;
            white-space: nowrap;
          }
          &:first-child {
            margin-right: 18px;
          }
        }
      }
    }

    .projects {
      margin-top: 100px;

      .box, .yearly-box {
        position: relative;
        background: #26313A;
        box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 30px;
        @include breakpoint(max-lg){
          padding: 20px;
        }

        .active-project {
          font-family: $font1;
          font-weight: 300;
          font-size: 34px;
          line-height: 46px;
          color: #FF5C3A;
          margin-top: 5px;
        }

        .box-text {
          font-family: $font1;
          font-size: 16px;
          line-height: 24px;
          color: #9DAFBD;
          margin: 0;
        }

        .circle {
          position: absolute;
          width: 10px;
          height: 10px;
          background: #fff;
          border-radius: 10px;
          top: 30px;
          right: 30px;
          @include breakpoint(max-lg){
            top: 10px;
            right: 10px;
          }
        }

        .daily-circle {
          position: absolute;
          width: 10px;
          height: 10px;
          background: #FF5C3A;
          border-radius: 10px;
          top: 30px;
          right: 30px;
          @include breakpoint(max-lg){
            top: 10px;
            right: 10px;
          }
        }
      }

      .yearly-box {
        // @extend %.box;
        background-color: #FF5C3A;

        .active-project {
          color: #fff;
        }

        .box-text {
          color: #fff;
        }
      }
    }
  }

  .library-clients {
    @extend %pr;
    z-index: 11;
    background: url("/images/behind-library.png")top center no-repeat;
    @include breakpoint(max-sm){
      background-size: 600px;
      background-position-y: 40px
    }

    .library {
      @extend %pr;
      z-index: 11;
      margin-top: 165px;
      padding-bottom: 158px;

      .library-slider{
        display: none;
      }
      .swiper-container {
        @include breakpoint(max-sm){
          padding-bottom: 50px;
        }
      }
      @include breakpoint(max-md){
        .row{
          display: none;
        }
        .library-slider{
          display: block;
        }
      }
      .row{
        position: relative;
        z-index: 11;
      }

      .library-head {
        p {
          font-family: $font1;
          font-weight: bold;
          font-size: 14px;
          line-height: 16px;
          color: #9DAFBD;
        }
  
        h1 {
          @extend %pr;
          z-index: 11;
          font-family: $font1;
          font-weight: normal;
          font-size: 54px;
          line-height: 76px;
          color: #FFFFFF;
          width: 50%;
          @include breakpoint(max-sm){
            width: 100%;
            font-size: 32px;
            line-height: 37px;
          }
        }  
      }

      .library-card {
        background: #26313A;
        box-shadow: 0px 40px 80px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        background-color: #26313A;
        margin-top: 145px;
        padding: 84px 24px 42px;
        position: relative;
        @include breakpoint(max-sm){
          margin-top: 70px;
          padding: 60px 15px 28px;
        }

        .git-img {
          position: absolute;
          top: -35%;
          // left: 24px;
          transform: translateY(35%);
          width: 100px;
          height: 100px;
          background: #FF483D;
          border-radius: 100%;
          @include breakpoint (max-sm){
            top: -30%;
            width: 72px;
            height: 72px;
            img{
              padding: 15px!important;
            }
          }
          img {
            padding: 30px;
          }
        }

        .library-card-name {
          font-family: $font1;
          font-weight: normal;
          font-size: 21px;
          color: #FFFFFF;
        }

        .library-card-text {
          font-family: $font1;
          font-weight: normal;
          font-size: 16px;
          color: #9DAFBD;
          width: 85%;
          @include breakpoint(max-sm){
            width: 100%;
            font-size: 15px;
          }
        }
      }

      .github-link {
        font-family: $font1;
        font-size: 14px;
        line-height: 19px;
        color: #FF5C3A;
        margin-top: 27px;
        margin-left: 24px;
        @include breakpoint(max-sm){
          margin-top: 20px;
        }

        span {
          margin-left: 12px;
        }
      }
      .swiper-controls-group{
        display: none!important
      }
    }

    .our-clients {
      @extend %pr;

      .mainscreen-cont {
        width: 600px;
        margin-bottom: 50px;

        h1 {
          font-family: $font1;
          font-weight:normal;
          font-size: 54px;
          line-height: 76px;
          color: #FFFFFF;
          margin-bottom: 30px;
          @include breakpoint(max-sm){
            font-size: 32px;
            line-height: 37px;
          }
        }

        p {
          font-family: $font1;
          font-size: 18px;
          line-height: 26px;
          color: #9DAFBD;
          @include breakpoint(max-sm){
            font-size: 15px;
            line-height: 18px;
          }
        }
      }

      .client-slider {
        margin-bottom: 100px;
        padding-bottom: 100px;

        .ourClientsSlider{
          padding-bottom: 50px;

          .swiper-slide{
            text-align: center;
          }
          .swiper-pagination{
            width: fit-content;
            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            top: 95px;
          }
        }
      }

      .testimonials {
        @extend %pr;
        .parallax-element{
          @include breakpoint(max-sm){
            top: 0;
            width: 100%;
            right: -175px;
          }
        }
        .testimonial-tag {
          margin-bottom: 115px;
          @include breakpoint(max-sm){
            margin-bottom: 0;
          }

          p {
            width: 58%;
            font-family: $font1;
            font-weight: 300;
            font-size: 34px;
            line-height: 46px;
            color: #FF5C3A;
            @include breakpoint(max-lg){
              width: 75%;
            }
            @include breakpoint(max-md){
              width: 100%;
            }
            @include breakpoint(max-sm){
              width: 70%;
              font-size: 21px;
              line-height: 30px;
            }
          }
        }

        .testimonial-cont {
          padding: 40px 0 0 0;

          .testimonial-heading {
            margin-bottom: 75px;

            h1 {
              font-family: $font1;
              font-weight: normal;
              font-size: 54px;
              line-height: 76px;
              color: #FFFFFF;
              margin-bottom: 10px;
            }

            p {
              font-family: $font1;
              font-size: 18px;
              line-height: 26px;
              color: #9DAFBD;
              width: 50%;
              @include breakpoint(max-sm){
                width: 100%;
              }
            }
          }

          .testimonial-slider-area{
            @extend %pr;

            .swiper-container{
              width: 75% !important;
              margin: auto !important;
              overflow: hidden;

              .swiper-slide {
                @include breakpoint(max-md){
                  .d-flex{
                    display: block!important;
                  }
                }
                .client-words {
                  font-family: $font1;
                  font-size: 18px;
                  line-height: 26px;
                  color: #FFFFFF;
                  margin-bottom: 18px;
                }

                .client-name {
                  font-family: $font1;
                  font-weight: bold;
                  font-size: 14px;
                  line-height: 16px;
                  color: #9DAFBD;
                  margin-bottom: 7px;
                }

                .author {
                  font-family: $font1;
                  font-weight: 300;
                  font-size: 12px;
                  line-height: 17px;
                  color: #9DAFBD;
                  margin-bottom: 0!important;
                }

                .test-left{
                  width:165px;
                  margin-right: 100px;
                  @include breakpoint(max-md){
                    margin: 0 auto 30px !important;
                  }

                  img{
                    border-radius: 50%;
                  }
                }
                .test-right{
                  width:555px;
                  @include breakpoint(max-md){
                    width: 100%;
                  }
                }
              }
            }

            .testimonial-btn{
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              @include breakpoint(max-md){
                top: 25%;
              }

              &.swiper-button-prev{
                left:0;
              }

              &.swiper-button-next{
                right:0;
              }
            }
          }

        }
      }
    }
  }
}
