body {
  padding: 0;
  // overflow-x: hidden;
  margin: 0;

  &.home-page{
   /* background: $body-bg url('/src/images/Home-header-bg.jpg') no-repeat top center;
    background-size: cover;
    --moz-background-size: 100% 1820px;
    -webkit-background-size: 100% 1820px;
    -o-background-size: 100% 1820px;
    background-size: 100% 1820px;*/

    footer{
      z-index:12;
    }
  }

  color: #FFF;
  background-color: $body-bg;
}

.top-half-section {
  @extend %pr;
  padding-top: 0px;
  padding-bottom: 50px;
  z-index:10;
  @include breakpoint(max-md){
    // padding-top: 240px;
  }


  .mainscreen {
    position: relative;
    .mainscreen-cont {
      width: 850px;

      a {
        text-shadow: rgba(255, 255, 255, 0.55) 0 0 15px;
        color: #FFFFFF;
      }

      &__title, h1 {
        font-family: $font2;
        font-size: 85px;
        font-weight: 900;

        @include breakpoint(max-lg){
          font-size: 74px;
        }
        @include breakpoint(max-sm){
          font-size: 64px;
          line-height: 70px;
        }
      }

      &__text, p {
        padding-top: 10px;
        font-family: $font1;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 40px;
        text-shadow: 0px 6px 40px rgba(0, 0, 0, 0.5);
        line-height: 1.36em;

        span,
        strong {
          font-weight: 900;
          color: #00E0FF;

          &:hover {
            // text-shadow: #00E0FF 0 0 6px;
            cursor: pointer;
          }
        }
        @include breakpoint(max-lg){
          width: 75%;
          margin: 0 auto 30px;
          font-size: 16px;
        }
        @include breakpoint(max-sm){
          width: 100%;
        }
      }

      @include breakpoint(max-md){
        width: calc(100% - 30px);
        margin: 0 auto;
      }
    }

    &.top-hero-content{
      height: 100vh;
      min-height: 500px;
      max-height: 800px;
      display: flex;
      justify-content: center;

      @include breakpoint(max-lg){
        // height:auto;
      }
    }
  }

  .whyscala {

    h2 {
      font-family: $font1;
      font-size: 50px;
      font-weight: 400;
      color: #FFFFFF;
      margin-bottom:25px;
    }

    p {
      font-family: $font1;
      font-size: 15px;
      @include breakpoint(md) {
        font-size: 20px;
      }
      @include breakpoint(lg) {
        font-size: 25px;
      }
      font-weight: 300;
      color: #9DAFBD;

      span, strong {
        font-weight: bold;
        color: #fff;
      }
    }


    .whyscala-code {
    
      pre {
        display: flex;
        span {
          font-family: "JetBrains Mono";
        }
        font-size: 14px;
        line-height: 1.2em;
        letter-spacing: 0.4px;
        text-shadow: 0px 13px 9px rgba(16, 35, 63, 0.4), 0px 0px 16px rgba(254, 255, 217, 0.15);
        @include breakpoint(md) {
          font-size: 18px;
        }
        @include breakpoint(md) {
          font-size: 21px;
        }
      }
    }

  }

  .power-point-area {
    @extend %pr;
    padding-top: 70px;
    .points {
      @extend %pr;
      z-index:11;
      h3 {
        font-family: $font1;
        color: #FF5C3A;
        font-style: normal;
        font-weight: 300;
        font-size: 34px;
        display: inline-block;
        margin-bottom: 20px;

        img {
          margin: 0 auto 20px auto;
          display: block;
        }
      }

      p {
        font-family: $font1;
        color: $primary-color;
        font-size: 18px;
        line-height: 26px;

        span {
          font-weight: 500;
          color: #ffffff;
        }
      }

      .points-boxes{
        margin-bottom: 25px;
        @include breakpoint(md) {
          margin-bottom: 65px;
        }
      }
    }

    .powered {
      @extend %pr;
      z-index:11;
      padding-top: 250px;

      // @include breakpoint(max-md){
      //   padding-top: 250px;
      // }

    }
  }

  .divider{
    // margin: 65px 0 30px 0;
  }

  .logo-slider{
    @include breakpoint(max-sm){
      .swiper-slide{
        display: flex;
      }
    }
  }
}

.cases-features-explore {
  @extend %pr;
  font-family: $font1;
  z-index:12;
  .heading-area{
    margin-bottom:80px;

    h2 {
      font-weight:normal;
      font-size: 54px;
      line-height: 76px;
      /* identical to box height, or 141% */

      letter-spacing: -1px;
      color: $white-color;
    }

    p {
      font-size: 18px;
      line-height: 26px;


      letter-spacing: -0.5px;
      color: $primary-color;
    }
  }

  .cases{
    @extend %pr;
    z-index:12;

    .row{
      margin: 0 -23px;
    }
    .col-md-4 {
      padding: 0 23px;

      &:nth-child(2) {
        .card {
          background-color: #E93F1B;
        }
      }

      &:last-child {
        .card {
          background-color: #FF5B33;
        }
      }
    }

    .card {


      font-family: $font1;
      border: none !important;
      border-radius: 15px;
      background-color: #D9240A;

      .card-body {
        border-radius: 10px;
        height: 160px;
        margin: 15px 5px 15px 5px;

        @include breakpoint(max-lg){
          height: 200px;
        }

        h4 {
          font-weight: bold;
          font-size: 22px;
          line-height: 35px;
          text-align: center;
          color:$white-color;
        }

        p {
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          letter-spacing: -0.5px;
          color:$white-color;
        }
      }

    }

    .caseboxes{
      margin-bottom: 15px;
      // @include breakpoint(max-md){
      //   width: 50%;
      //   margin: 0 aut;
      // }
      @include breakpoint(max-sm){
        width: 75%;
        margin: auto;
      }
    }
  }


  .features {
    @extend %pr;
    z-index:11;
    @include breakpoint(max-md){
      padding-top: 100px;
    }
    .feature-box{
      @extend %pr;
      margin-bottom: 100px;

      @include breakpoint(max-lg){
        margin-bottom: 40px;
      }

      h3 {
        font-weight: 300;
        font-size: 34px;
        line-height: 46px;
        letter-spacing: -0.1px;
        color:#FF5C3A;

        margin-bottom:15px;
        padding-right: 100px;

        @include breakpoint(max-lg){
          font-size: 26px;
          padding-right: 50px;
        }
        @include breakpoint(max-sm){
          padding: 0;
          line-height: 30px;
        }
      }

      p {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: -0.5px;
        color:$primary-color;
        padding-right: 130px;

        @include breakpoint(max-lg){
          font-size: 16px;
          padding-right: 50px;
          line-height: 1.2em;
        }
        @include breakpoint(max-sm){
          padding: 0;
          font-size: 15px;
          line-height: 1.2em;
        }
      }

      &:before {
        content: attr(data-number);
        position: absolute;
        top: 5px;
        right: 40px;

        font-family: $font2;
        font-weight: 800;
        font-size: 60px;

        text-align: center;
        text-transform: uppercase;

        color: $white-color;
        opacity: 0.3;

        text-shadow: 0px 7px 40px rgba(0, 0, 0, 0.3);

        @include breakpoint(max-lg){
          font-size: 41px;
          right: 17px;
          top: -5px;
        }
        @include breakpoint(max-sm){
          top: -35px;
        }
      }

      &:after {
        content: "";
        background-image: url("/images/logo elements.png");
        width: 35px;
        height:63px;
        position: absolute;
        top: 60px;
        right: 55px;
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;

        @include breakpoint(max-lg){
          right: 15px;
        }
        @include breakpoint(max-sm){
          content: none
        }
      }
    }
  }

  .explore {
    @extend %pr;
    font-family: $font1;
    padding-top: 100px;
    z-index:9;

    .d-flex{
      z-index:10;
      @extend %pr;
    }

    .container{
      z-index:10;
    }

    .explore-slider{
      width: 75%;
      margin: auto;
      @include breakpoint(max-lg){
        width: 100%;
      }
    }

    .swiper-controls-group{
      @include breakpoint(max-md){
        margin-top: 25px;
      }
    }

    h2 {
      font-family: $font2;
      font-style: normal;
      font-weight: 900;
      font-size: 63px;
      line-height: 120%;
      color:$white-color;
      text-shadow: 0px 7px 40px rgba(0, 0, 0, 0.3);
      text-transform: uppercase;
      margin-bottom: 120px;
      @include breakpoint(max-lg){
        margin-bottom: 35px;
      }
      @include breakpoint(max-md){
        margin-bottom: 0;
      }
      @include breakpoint(max-sm){
        margin-bottom: 35px;
      }
    }

    .explore-box{
      text-align: center;

      img{
        &:first-child{
          max-width: 100%;
          margin-bottom: 35px;
        }
      }

      h4{
        font-family: $font1;
        font-weight: bold;
        font-size: 22px;
        line-height: 35px;
        color: $white-color;
      }

      p {
        font-family: $font1;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.5px;
        color: $primary-color;

        margin:0;

        &:last-child {
          margin-top:1rem;
        }
      }

      a {
        font-family: $font1;
        font-size: 14px;
        line-height: 19px;
        color: #FF5C3A;
      }
    }
  }

  .thanks {
    @extend %pr;
    z-index:11;

    font-family: $font1;
    padding-top: 300px;
    padding-bottom: 50px;
    text-align: left;
    @include breakpoint(max-md){
      padding-top: 120px;
      
    }

    .container{
      padding-bottom:50px;
    }

    .thanks-cont__title , h2 {
      font-size: 54px;
      line-height: 76px;
      font-weight: normal;
    }

    .thanks-cont__text, p {
      font-family: $font1;
      font-size: 18px;
      line-height: 26px;
      letter-spacing: -0.5px;
      color: $primary-color;
      margin-top: 20px;
    }

    .thanks-cont__text2 {
      padding-top: 72px;
      @include breakpoint(max-md){
        padding-bottom: 100px;
      }
    }
  }
}

.divider {
  // width: 100%;
}

.container {
  @extend %pr;
}


.formula {
  font-family: $font1;
}

.yellow {
  color: #FFC600;

}

.blue {
  color: #44C5FF;

}

.lightblue {
  color: #2AEDF2;
}

.gray {
  color: #A4B6C0;
}

.darkyellow {
  color: #CCEB00;
}

.pink {
  color: #FF52B2;
}

// .cases .swiper-slide {
//   width: 33.33%;
// }

.use-case .swiper-container {
  padding-bottom: 60px;
}
.thanks-cont a {
  color: $theme-red-color;
}