body {
  &.learn-page{
    background: $body-bg;
    position:relative;

    .footer-sky {
      top: inherit;
      bottom: 0;
      left: 50%;
      margin-left: -50%;
      transform: inherit;
      max-height: 978px;
      user-select: none;
      img{
        width: 100%;
        max-height: 978px;
        object-fit: cover;
      }
    }

    footer{
      padding-bottom: 0;
    }
  }
}

.learn-section{
  @extend %pr;
  position: relative;
  z-index: 2;
  padding-top: 265px;
  
  .mainscreen{
    padding-bottom: 350px;
    @include breakpoint(md){
      padding-bottom: 500px;
    }
  }

  .mainscreen-cont{
    width: 650px;
  }

  h1{
    font-family: $font2;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
  }
  p{
    font-family: $font1;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 7px 40px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    @include breakpoint(max-sm){
      width: 100%;
      margin: 0 auto 50px;
    }
  }
  button{
    font-family: $font1;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* or 136% */

    text-align: center;

    color: #FF5C3A;
    &:hover{
      background-color: #ff5c3a;
      color: #fff;
    }
    &:active{
      background-color: #ff5c3a;
      color: #fff;
    }
  }
  
}
.sponsore{
  position:relative;
  z-index: 12;

  h3{
    font-family: $font1;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    color: #CCCCCC;
    span, strong {
      font-weight: bold;
      color: #fff;
    }
    @include breakpoint(max-md){
      font-size: 24px;
    }
  }
}
.book-section{
  @extend %pr;
  z-index: 12;
  padding: 80px 0 0 0;
  @include breakpoint(max-md){
    padding-top: 30px;
  }

  &.full-screen{
    transform: inherit !important;
  }

  .container {
    max-width: 1096px;
  }

  .book-panel{
    background-color: #182129;
    padding: 33px;
    @include breakpoint(max-xl){
      max-width: 95%!important;
      margin: auto;
    }

    .book-header{
      margin-bottom:50px;

      div{
        width: calc(100% / 3);

        label{
          font-family: $font1;
          font-size: 14px;
          line-height: 19px;
          letter-spacing: -0.5px;
          color: #B5B5B5;
        }

        &.book-menu{
          cursor: pointer;
          svg{
            width:23px;
            height:21px;
            margin-right: 16px;
          }
        }
        &.book-control{

          svg{
            cursor: pointer;
            width:27px;
            height:27px;
            margin-left: 16px;
          }

          .light-dark-btn{
            background: #FFFFFF;
            border: 1px solid #FF5C3A;
            box-sizing: border-box;
            border-radius: 40px;
            width: 88px;
            height: 36px;
            text-align: center;
            line-height: 36px;

            font-family: $font1;
            font-size: 14px;
            color: #000000;
            @include transition($transition);
            &:hover{
              box-shadow: 0px 0px 8px #ff5c3a;
            }

            &.dark{
              background: #182129;
              border: 1px solid #FF5C3A;
              color: #FFFFFF;
            }

            display:none;
          }
        }
      }
    }

    .full-screen-btn{
      display:inline;
      @include breakpoint(max-md){
        display: none;
      }
    }
    .small-screen-btn{
      display:none;
    }

    .book-body{
      @extend %pr;
      height: calc(100% - 50px);
      padding: 0 45px;
      @include breakpoint(max-sm){
        padding: 0;
      }

      h2{
        font-family: $font4;
        font-weight: bold;
        font-size: 24px;
      }

      .swiper-container{
        /*max-height: 560px;
        min-height: 560px;*/
        padding-bottom: 0;
        /*overflow: hidden;
        overflow-y: auto;*/
        margin-bottom: 40px;

        &::-webkit-scrollbar-track
        {
          background-color: transparent;
        }

        &::-webkit-scrollbar
        {
          width: 5px;
          border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb
        {
          background-color: #FF5C3A;
          border: 2px solid #FF5C3A;
        }

        p,li,a{
          font-family: $font4;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 21px;
          color: #FFFFFF;
        }
        @include breakpoint(max-md){
          .responsive-m{
            margin-top: 25px;
          }
        }
      }

      .swiper-slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%!important;
      }

      .rangeslider{
        margin:50px 0 30px 0;
        position:absolute;
        bottom: 0;
        left:0;
        .rangeslider__fill__bg{
          background: #555555;
          height: 1px;
        }
        .rangeslider__fill{
          background: #FF5C3A;
        }
        .rangeslider__handle{
          background: #FF5C3A;
          border: 2px solid #FF5C3A;
        }
      }

      .slider-label{
        position: absolute;
        bottom: 50px;
        font-family: $font1;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: -0.5px;
        color: #B5B5B5;
        opacity: 0.5;
        left:0;

        &-percent{
          position: absolute;
          bottom: 50px;
          font-family: $font1;
          font-size: 13px;
          line-height: 19px;
          letter-spacing: -0.5px;
          color: #B5B5B5;
          opacity: 0.5;
          right:0;
          left:inherit;
        }
      }

      .arrow {
        position: absolute;
        top: calc(50% - 80px);
        transform: translate(0, -50%);
        opacity:0;

        height: 85%;
        width: 70px;

        @include transition($transition);

        svg{
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
        }

        &-left{
          left:-35px;

          svg{
            left:35px;
          }
        }
        &-right{
          right:-35px;

          svg{
            right:35px;
          }
        }

        &:hover {
          opacity:1;
        }
      }

    }
  }

  &.full-screen{
    .book-panel{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .full-screen-btn{
        display:none;
      }
      .small-screen-btn{
        display:inline;
      }

      .swiper-container{
        max-height: calc(100% - 100px);
        min-height: calc(100% - 150px);
      }
    }
  }
}

#full-screen-area {
  .full-screen {
    .book-header {
      div.book-control {
        .light-dark-btn {
          display: inline-block;
        }
      }
    }
  }

  &.dark-mode {
    .full-screen{
      .book-panel {
        background-color:#fff;

        .book-body {
          .swiper-container {
            h1, h2, h3, h4, h5, h6, p, li, a {
              color: #182129;
            }
          }

          .arrow {
            path{
              stroke: #FF5C3A;
            }
          }
        }
      }
    }
    .popup-overlay{
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color:rgba(255, 255, 255, 0.7);
    }
    .book-content-popup{
      background: #fff;
      box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.2);


      .popup-head{
        color: #182129;

        h4{
          color: #182129;
        }

        path{
          fill: #000;
        }
      }

      .popup-body{
        ul{
          li{
            a{
              color: #182129;
              border-bottom: 1px solid rgba(0, 0, 0, 0.03);

              &.active{
                color: #FFC700;
              }
            }
          }
        }
      }
    }
  }
}

.popup-overlay{
  z-index:9999999;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color:rgba(0, 0, 0, 0.7);
}
.book-content-popup{
  max-width: 536px;
  width: 100%;
  position: fixed;
  background: #182129;
  box-shadow: 0px 10px 55px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 21px 38px;
  z-index: 99999999;
  padding-right: 0;
  height: calc(100vh - 100px);
  overflow: hidden;
  max-height: 700px;

  .popup-head{
    width: 100%;
    font-family: $font1;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding-right: 38px;

    h4{
      font-weight: bold;
      font-size: 24px;
      line-height: 50px;
    }
    a{
      margin-left: auto;
    }
  }

  .popup-body{
    overflow-y: auto;
    max-height: 580px;
    margin-right: 10px;


    &::-webkit-scrollbar-track
    {
      background-color: transparent;
    }

    &::-webkit-scrollbar
    {
      width: 5px;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: #FF5C3A;
      border: 2px solid #FF5C3A;
    }

    ul{
      padding-right: 28px;
      li{
        a{
          font-family: $font1;
          font-weight: 300;
          font-size: 14px;
          line-height: 49px;
          color: #FFFFFF;
          display: block;
          border-bottom: 1px solid rgba(85, 85, 85, 0.3);

          &.active{
            color: #FFC700;
          }
        }
      }
    }
  }
}
