@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700;900&display=swap');

@font-face {
  font-family: 'JetBrains Mono';
  src: url('/fonts/JetBrainsMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import '~bootstrap/scss/bootstrap';
@import "~rangeslider-js/dist/styles.min.css";
@import '_abstracts/_mixins';
@import '_abstracts/_variables';
@import '_base/_reset';
@import '_base/_global';
@import '_base/_typography';
@import '_base/helper';
@import '_layout/_footer';
@import '_layout/_header';
@import '_layout/_animation';
@import '_components/_buttons';
@import '_components/_parallaxelements';
@import '_components/_sliders/_logo';

@import '_layout/_pages/home';
@import '_layout/_pages/download';
@import '_layout/_pages/learn';
@import '_layout/_pages/jobs';
@import '_layout/_pages/certification';
@import '_layout/_pages/community';
@import '_layout/_pages/about';
@import '_layout/_pages/ecosystem';

.z10{
  z-index: 10;
}
.z11{
  z-index: 11;
}

.divider{
  // margin: 15px 0 30px 0;

  @extend .container-lg;

  img{
    transform: translateX(-2.94%);
    height:80px;
  }
}

body{
  padding: 0;
  overflow-x: hidden;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

main{
  overflow: hidden;
}

.net-hide{
  @include breakpoint(max-md){
    display: none!important;
  }
}